body {
  background: #00a5e0;
  font-family: "Montserrat", sans-serif;
}

h1,
h3 {
  text-align: left;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

h1 {
  color: #00a5e0;
  font-weight: bold;
}

h2 {
  font-size: 8vw;
  font-weight: bolder;
  color: #00a5e0;
  text-shadow: 0 1px 1px #000000;
}

h3 {
  font-size: 3vw;
}

p {
  margin: 0;
  color: #fff;
  font-size: 2vw;
  font-weight: 300;
  text-align: center;
}

a {
  color: rgb(177, 177, 177);
  text-decoration: none;
}

h3.weathertype {
  font-weight: 300;
}

.weather-app {
  display: block;
  margin: 60px auto;
  margin-bottom: 0;
  text-align: center;
  background-color: rgba(255, 254, 254, 0.297);
  border-radius: 25px;
  padding-bottom: 6%;
}

.search {
  display: inline-block;
  margin: 0 auto;
}

.btn-info {
  margin: 3px;
}

div.info {
  padding: 2%;
  margin: 2% 15%;
  background-color: rgba(0, 0, 0, 0.043);
  border-radius: 1rem;
}

div.gryp {
  border-left: 4px solid #00a5e0;
}

.line {
  border-left: 0.2rem solid #00a5e0;
  align-items: center;
}

.img-week {
  max-width: 50%;
  min-width: 20%;
  margin: 0 auto;
}

.week-row {
  margin-top: 10%;
}

.footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 2vw;
}
